{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="alert alert-success">
                <strong>Congratulations !</strong> You have successfully installed and run the example <em>Desktop Database Application</em>.
            </div>
            <h1>Desktop Database Application</h1>
            <p class="lead">
                This is a basic desktop database application example.
            </p>
            <p>
                It is uses <em>Flask</em>, <em>Flask-SQLAlchemy</em>, and <em>Flask-Admin</em> to create a basic ‘CRUD’ (<em>create, read, update, and delete</em>) application in a web browser.
            </p>
            <p>
                It also includes <em>Flask-Migrate</em>, which is helpful for database transformations when you want to make changes to your data models.
            </p>
            <p>
                The <b>Author</b> and <b>Tag</b> tabs have very basic (mostly default) Admin options.
                The <b>Book</b> tab demonstrates a greater number of Admin options which you might want to copy.
            </p>
        </div>
    </div>
</div>
{% endblock body %}
